# Data
BENCHMARK_INPUT=<path_to/benchmarkdataset_input.csv>
OUTPUT_CSV=<path_to/submission_output.csv>

# Prompt
SYSTEM_PROMPT_CQ=data/cq-system_prompt.txt
SYSTEM_PROMPT_ONTOLOGY=data/ontology-extractor-system-prompt.md

# Gemma settings
GEMMA_BASE_URL=<gemma_endpoint_URL>
GEMMA_API_KEY=dummy
GEMMA_MODEL=gemma4
NUM_CQS=20 # Number of questions to generate per input row